@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Raleway&display=swap');
.railway-font{
    font-family: 'Raleway', sans-serif;
}

.didac-font{
    font-family: 'Didact Gothic', sans-serif;
}
.bg-html{
    background-color: #ffbc57ff;
}
.bg-python{
    background-color: #f7888fff;
}
.bg-c{
    background-color: #76c7deff;
}
.bg-javascript{
    background-color: #977bdfff;
}



