@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

.Getstart{
    height: 1000px;
    background-image: url("../Images/Getstarted_bg.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}
.Getstart_title{
    font-size: 40px;
    font-family: 'Didact Gothic';
}

.Getstart_button{
    color: white;
    background-color: #70cee9ff;
    font-family: 'Didact Gothic';
}

.Getstart_content{
    position: absolute;
    top: 43%;
    left: 29%;
    width: 800px;
    height: 300px;
    border-radius: 70px;
    -webkit-border-radius: 70px;
}


.card-title{
    color: black;
}
  